*{
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container .row .col {
    padding: 0 5px; /* Añade padding entre columnas */
}

/* Ajustes del header y footer */
header, footer {
    flex-shrink: 0;
    width: 100%;
}

.form-login {
    width: 400px;
    height: 340px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 7px 13px 37px brown;
    padding: 20px 30px;
    border: 2px solid #00000000;
    border-radius: 10PX;
}

.form-check-input:checked {
    background-color: brown; 
    border-color: brown; 
}

.form-register {
    width: 800px;
    height: 1430px; 
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 7px 13px 37px brown;
    padding: 20px 30px;
    border: 2px solid #00000000;
    border-radius: 10px;
} 

.controls {
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-weight:lighter;
    outline: none;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

#warnings {
    color: brown;
    font-weight: bold;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.controls:focus{
    box-shadow: 0 0 5px brown;
}

.form-select:hover{
    background-color: brown;
    color: white;
}
  
.buttons {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #4c0000;
    border: none;
    color: white;
    margin-bottom: 16px;
  }

  footer {
    background-color: #4c0000;
    color: white;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 2px solid #00000000;
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

footer .col img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

footer .col p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #ffc107; /* Color dorado para el hover */
}

footer .row.mt-3 {
    margin-top: 1rem;
}

footer .row.mt-3 .col p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc; /* Color gris claro para el texto de derechos reservados */
}

/* Asegurar que el formulario sea responsivo */
@media (max-width: 800px) {
    .form-register {
        padding: 10px 20px; /* Ajusta el padding para pantallas más pequeñas */
    }
    
    .buttons {
        margin-bottom: 10px;
        padding: 8px;
    }
}
