/* Ajustes generales */
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Ajustes del header y footer */
header, footer {
    flex-shrink: 0;
    width: 100%;
}

/* Main ocupa el espacio restante */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

/* Formulario de registro */
.form-register {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    box-shadow: 7px 13px 37px brown;
    padding: 20px 30px;
    border: 2px solid #00000000;
    border-radius: 10px;
    background-color: #fff;
}

/* Ajuste de controles de formulario */
.controls {
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-weight: lighter;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.controls:focus {
    box-shadow: 0 0 5px brown;
}

/* Botones */
.buttons {
    width: 100%;
    border-radius: 10px;
    background: #4c0000;
    border: none;
    color: white;
    margin-bottom: 16px;
    padding: 10px;
    box-sizing: border-box;
}

.container .row .col {
    padding: 0 5px; /* A침ade padding entre columnas */
}

/* Ajustes de pie de p치gina */
footer {
    background-color: #4c0000;
    color: white;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 2px solid #00000000;
    text-align: center;
    margin-top: auto; /* Empuja el footer al fondo */
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

footer .col img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

footer .col p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #ffc107; /* Color dorado para el hover */
}

footer .row.mt-3 {
    margin-top: 1rem;
}

footer .row.mt-3 .col p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc; /* Color gris claro para el texto de derechos reservados */
}

/* Asegurar que el formulario sea responsivo */
@media (max-width: 800px) {
    .form-register {
        padding: 10px 20px; /* Ajusta el padding para pantallas m치s peque침as */
    }
    
    .buttons {
        margin-bottom: 10px;
        padding: 8px;
    }
}
